.Weather {
  border: 1px solid #9aa0a5;
  border-radius: 10px;
  background-color: #f2f9f1;
  padding: 15px;
}

.Weather h1 {
  color: #5c715e;
  font-size: 36px;
  margin: 0;
  margin-top: 15px;
}

.Weather ul {
  list-style: none;
  padding: 0;
}

.Weather li {
  color: rgb(149, 155, 160);
}

.Weather .btn {
  color: white !important;
  background-color: #5c715e;
  border: none;
}

.Weather canvas {
  display: inline-block;
  vertical-align: sub;
  margin-top: 12px;
  margin-right: 5px;
}

.Weather .temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  padding-left: 3px;
  color: #5c715e;
}

.Weather .unit {
  position: relative;
  top: -32px;
  color: #5c715e;
}
